/* Temel stil ayarları */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Main section */
main {
  padding: 20px;
}

/* Section */
section {
  margin-bottom: 20px;
}

h1, h2 {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

